# ============================================
# Environment variables
# ============================================

.env


# ============================================
# Python cache
# ============================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ============================================
# Jupyter checkpoints
# ============================================

.ipynb_checkpoints/


# ============================================
# VS Code
# ============================================

.vscode/


# ============================================
# Realtime GTFS raw collection files
# ============================================

data/raw/gtfs_realtime/*.json
data/raw/gtfs_realtime/*.pb
data/raw/gtfs_realtime/*.csv


# ============================================
# Large generated outputs
# ============================================

outputs/


# ============================================
# Keep processed reproducible outputs
# ============================================

!data/processed/
!data/processed/decision_engine_output.csv


# ============================================
# Keep sample integration datasets
# ============================================

!data/interim/
!data/interim/realtime_with_routes_sample.csv
!data/interim/gtfs_weather_integrated_sample.csv

# Local Anaconda project files
anaconda_projects/

# Large GTFS static raw files
data/raw/gtfs_static/*.txt
data/raw/gtfs_static/*.zip
data/raw/gtfs_static/stop_times.txt
data/raw/gtfs_static/shapes.txt
data/raw/gtfs_static/gtfs.zip
data/raw/gtfs_static/*.zip

# Anaconda local projects
notebooks/data/