# Local Anaconda/Jupyter files
anaconda_projects/
.ipynb_checkpoints/

# Raw GTFS Realtime snapshots
data/raw/gtfs_realtime/
*.json

# Large GTFS Static files
data/raw/gtfs_static/gtfs.zip
data/raw/gtfs_static/stop_times.txt
data/raw/gtfs_static/shapes.txt